* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}

body {
    background-image: url("../images/fallout4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: right;
    text-shadow: 2px 2px 4px #ffde89;
    font-size: 48px;
}
p {
    margin:0;
}
button.fighter {
    background-color: #ffde89;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
button.defender,button.defender2,button.defender3 {
    background-color: red;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
.status {
    color: #000;
    font-weight: bold;
}
img {
    height: 100px;
}
.btn-xs {
    font-size: 10px;
}